<div class="d-flex justify-content-center">
  <div>
    <% @articles.each do |article| %>
      <div>
        <h1><%= link_to article.title, article_path(article) %></h1>
        <h4><%= article.content %></h4>
      </div>
    <% end %>
  </div>

</div>
